<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <title>Tauri Apps</title>
    <meta name="title" content="Tauri Apps - Make smaller, faster more secure native apps">
    <meta name="og:title" content="Tauri Apps - Make smaller, faster more secure native apps">
    <meta name="twitter:title" content="Tauri Apps - Make smaller, faster more secure native apps">
    <meta name="description" content="Tauri is a toolchain for building highly secure native apps that have tiny binaries and are very fast. Whether coming from the front-end with Angular, React or Vue - or building Rust-native solutions, Tauri solves the hard problems of safe User Interfaces.">
    <meta name="og:description" content="Tauri is a toolchain for building highly secure native apps that have tiny binaries and are very fast. Whether coming from the front-end with Angular, React or Vue - or building Rust-native solutions, Tauri solves the hard problems of safe User Interfaces." >
    <meta name="twitter:description" content="Tauri is a toolchain for building highly secure native apps that have tiny binaries and are very fast. Whether coming from the front-end with Angular, React or Vue - or building Rust-native solutions, Tauri solves the hard problems of safe User Interfaces.">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@tauriapps">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://tauri-apps.org/statics/thetaTauri-logo.png">
    <meta property="og:site_name" content="Tauri Apps">

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <link rel="icon" type="image/png" href="statics/app-logo-128x128.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
  </head>
  <body>
    <!--  style="background-repeat:repeat-x;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAASLCAIAAADbE0BzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAVUlEQVRYhe3NIQ6AQBBD0Zl2ViC4Bh7J/R0h3AaPIJBsAhrzxTO/ojHNiyICF4/DoYiIfVtVVaoq2X601mSra7aVmbItScrMztvX3b92AAAAAACAH5wLVw2ltqAZ/QAAAABJRU5ErkJggg==)" -->
    <script>
      (function(){
        let redirect = sessionStorage.redirect;
        delete sessionStorage.redirect;
        if (redirect && redirect !== location.href) {
          history.replaceState(null, null, redirect);
        }
      })();
    </script>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
